<section class="bg-white h-full">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      class="flex items-center mb-6 text-3xl font-semibold"
    >
      <img
        class="w-15 h-15 mr-2"
        src="assets/mi-dinero-logo.png"
        alt="logo"
      />
      <span class="text-blue-700 font-bold">Mi Dinero</span>  
    </a>
    <div
      class="w-full rounded-lg shadow-xl md:mt-0 sm:max-w-md xl:p-0 bg-white border border-purple-300"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          Ingresa a tu cuenta
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          [formGroup]="form"
          (ngSubmit)="submit()"
        >
        <!-- Campo de correo -->
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-700"
            >Tu correo</label>
          <div class="flex">
            <span class="inline-flex items-center justify-center px-3 border border-e-0 border-purple-300 rounded-s-md bg-purple-500 text-white">
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 5h16c1.1 0 2 .9 2 2v10c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V7c0-1.1.9-2 2-2z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M22 5.5l-10 8-10-8" />
              </svg>
            </span>
            <input
              type="email"
              name="email"
              id="email"
              style="color: black !important;"
              class="rounded-none rounded-e-lg bg-gray-50 border border-purple-300 text-black focus:ring-purple-500 focus:border-purple-500 block flex-1 min-w-0 w-full text-sm p-2.5"
              placeholder="john@gmail.cl"
              required=""
              formControlName="email"
            />
          </div>
            @if(isRequired('email')){
              <small class="text-red-500">Este campo es requerido</small>
            }
            @if(hasEmailError()){
                <small class="text-red-500">El correo debe ser válido</small>
            }
          </div>
          <!-- Campo de contraseña -->
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-700"
              >Contraseña</label>
            <div class="flex">
              <span class="inline-flex items-center justify-center px-3 border border-e-0 border-purple-300 rounded-s-md bg-purple-500 text-white">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 1a5 5 0 0 0-5 5v4H6a1 1 0 0 0-1 1v11a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V11a1 1 0 0 0-1-1h-1V6a5 5 0 0 0-5-5Zm-3 5a3 3 0 1 1 6 0v4H9V6Zm0 6h6v9H9v-9Z"/>
                </svg>
              </span>         
              <input
                type="password"
                name="password"
                id="password"
                style="color: black !important;"
                placeholder="••••••••"
                class="rounded-none rounded-e-lg bg-gray-50 border border-purple-300 text-black focus:ring-purple-500 focus:border-purple-500 block flex-1 min-w-0 w-full text-sm p-2.5"
                required=""
                formControlName="password"
              />
            </div>
            @if(isRequired('password')){
              <small class="text-red-500">Este campo es requerido</small>
            }
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <a
                class="text-sm font-medium text-purple-600 hover:text-purple-700 cursor-pointer"
                (click)="navigateTo('/auth/forgot-password')"
                >¿Olvidaste tu contraseña?</a
              >
            </div>
          </div>
          <ion-button type="submit" fill="outline" color="tertiary" expand="block" class="font-bold">Ingresar</ion-button>
          <p class="text-sm font-light text-gray-600">
            ¿No tienes cuenta?
            <a
              class="font-medium text-blue-700 hover:text-blue-800 cursor-pointer"
              (click)="navigateTo('/auth/sign-up')"
              >Registrate</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>