<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/preferences"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <ion-avatar>
      <img src="https://i.pinimg.com/474x/98/9b/e0/989be02f685da511516c51d80ffed691.jpg" alt="Foto de perfil">
    </ion-avatar>
  </div>
  <ion-card class="profile-card">
    <ion-card-content>
      <div style="display: flex; justify-content: flex-end;">
      <ion-button class="edit-item" fill="outline" (click)="modoEditar()">
        <ion-icon slot="icon-only" name="create-outline" color="tertiary"></ion-icon>
      </ion-button>
    </div>
      <ion-list lines="none">
        <ion-item class="profile-item" *ngIf="userData">
          <ion-icon name="person-outline" slot="start" color="tertiary"></ion-icon>
          <ion-label>
            <p>Nombre</p>
            <ion-input 
            class="block w-full p-2.5 text-sm bg-gray-50 border border-purple-300 text-black rounded-lg focus:ring-purple-500 focus:border-purple-500"
            [readonly] ="!editar" 
            [(ngModel)]="userData.username"
            *ngIf="editar"
            ></ion-input>
            <h2 *ngIf="!editar">{{userData.username}}</h2>
          </ion-label>
        </ion-item>
        
        <ion-item class="profile-item" *ngIf="userData">
          <ion-icon name="mail-outline" slot="start" color="tertiary"></ion-icon>
          <ion-label>
            <p>Correo</p>
            <h2>{{userData.email}}</h2>
          </ion-label>
        </ion-item>
        
        <ion-item class="profile-item" *ngIf="userData">
          <ion-icon name="location-outline" slot="start" color="tertiary"></ion-icon>
          <ion-label>
            <p>Región</p>
            <select
            *ngIf="editar"
            [(ngModel)] = "userData.region"
            class="block w-full p-2.5 text-sm bg-gray-50 border border-purple-300 text-black rounded-lg focus:ring-purple-500 focus:border-purple-500"
            >
            <option value="" disabled>Selecciona una región</option>
            <option *ngFor="let region of getRegionesUnicas()" [value]="region"> {{region}}</option>
          </select>
              <h2 *ngIf="!editar">{{userData.region}}</h2>
          </ion-label>
        </ion-item>
        
        <ion-item class="profile-item" *ngIf="userData">
          <ion-icon name="home" slot="start" color="tertiary"></ion-icon>
          <ion-label>
            <p>Comuna</p>
           <select *ngIf="editar"
           [(ngModel)]="userData.comuna"
           class="block w-full p-2.5 text-sm bg-gray-50 border border-purple-300 text-black rounded-lg focus:ring-purple-500 focus:border-purple-500"
           >
           <option value=""disabled>Selecciona una comuna</option>
           <option *ngFor="let comuna of getComunasOfRegiones(userData.region)" [value]="comuna.nombre"> {{comuna.nombre}}</option>
          </select>
            <h2 *ngIf="!editar">{{userData.comuna}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-button (click)="guardarCambios()" fill="outline" expand="block" color="tertiary" shape="round" *ngIf="editar">
        Guardar cambios
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>