<ion-content>
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="usuarios">
      <ion-label>Usuarios</ion-label>
    </ion-segment-button>
    <ion-segment-button value="logs">
      <ion-label>Logs</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegment" class="segment-content">
    <div *ngSwitchCase="'usuarios'">
      <div class="card-content" *ngFor="let user of userData">
        <div class="info">
          <div class="email-user">{{ user.email }}</div>
          <div class="region">{{ user.region }}</div>
        </div>
        <ion-icon 
          name="trash-outline" 
          (click)="prepareDeleteUser(user)"
        ></ion-icon>
      </div>
    </div>

    <div *ngSwitchCase="'logs'">
      <div class="card-content" *ngFor="let log of logs">
        <div class="info">
          <div class="email-user">{{ log.tipo }}</div>
          <div class="region">{{ log.mensaje }}</div>
          <div class="fecha">{{ log.fechaFormateada }}</div>
        </div>
        <ion-icon name="trash-outline" (click)="prepareDeleteLog(log)"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
