<ion-content>
<div class="p-4 space-y-6 max-w-md mx-auto">
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-back-button text="Volver" defaultHref="/" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Contáctanos</ion-title>
  </ion-toolbar>
</ion-header>


  <div class="contact-header">
    <div class="avatar-container">
      <ion-icon name="headset-outline" class="headset-icon"></ion-icon>
    </div>
    <h2>Estamos para ayudarte</h2>
    <p class="subtitle">
      En caso de alguna duda, comunicate con nosotros. Queremos seguir mejorando nuestro servicio.
    </p>
  </div>

  
  <div class="contact-options">
    <ion-item detail="false" lines="full" class="contact-item">
      <div class="icon-container">
        <ion-icon name="mail" class="contact-icon mail-icon"></ion-icon>
      </div>
      <ion-label>
        <h3>Correo electrónico</h3>
        <p>cactuishere&#64;gmail.com</p>
      </ion-label>
      <button class="icon-container" (click)="writeToClipboard('cactuishere&#64;gmail.com')">
        <ion-icon name="copy-outline" color="tertiary"></ion-icon>
      </button>
    </ion-item>

    <ion-item detail="false" lines="full" class="contact-item">
      <div class="icon-container">
        <ion-icon name="call" class="contact-icon phone-icon"></ion-icon>
      </div>
      <ion-label>
        <h3>Teléfono</h3>
        <p>+56 9 2202 3698</p>
      </ion-label>
      <button class="icon-container" (click)="writeToClipboard('+56 9 2202 3698')">
        <ion-icon name="copy-outline" color="tertiary"></ion-icon>
      </button>
    </ion-item>
  </div>

  <!-- Formulario -->

  <div class="feedback-section">
    <h3 class="feedback-title">Déjanos tu feedback</h3>
    <form
    class="space-y-4 md:space-y-6"
    [formGroup]="form"
    (ngSubmit)="submit()"
    autocomplete="off"
  >
    <div class="form-field">
      <label for="subject">Asunto</label>
      <ion-input 
        placeholder="Escribe el asunto" 
        class="input-field"
        formControlName="subject"
        ></ion-input>
    </div>
    
    <div class="form-field">
      <label for="message">Mensaje</label>
      <ion-textarea 
        formControlName="message"
        placeholder="Escribe tu mensaje aquí..."
        rows="3"
        class="input-field"
      ></ion-textarea>
    </div>
    
    <div class="rating-section">
      <p>¿Cómo calificarías nuestra app?</p>
      <div class="star-rating">
        <ion-icon *ngFor="let star of stars; let i = index" [name]="i < rating ? 'star' : 'star-outline'" class="rating-star active" (click)="setRating(i + 1)"></ion-icon>
      </div>
    </div>
    
    <ion-button expand="block" class="send-button" type="submit">
      <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
      ENVIAR MENSAJE
    </ion-button>
    </form>
  </div>
</div>
</ion-content>